@import "tailwindcss";

@font-face {
  font-family: "Germania One";
  src: url("/GermaniaOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Passion";
  src: url("/PassionsConflict-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Passion One";
  src: url("/PassionsConflict-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

* {
  cursor: none;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

p {
  font-family: "Passion", cursive;
}

.blend-invert-text {
  color: #862e2e;
  mix-blend-mode: difference;
  -webkit-text-fill-color: #191919;
  -webkit-font-smoothing: antialiased;
}
@keyframes grainMarquee {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200px 0;
  }
}
.grain-marquee {
  animation: grainMarquee 0s linear infinite;
  will-change: background-position;
}

